@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

:root {
    /* Colors */
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    --grey-300: hsl(233, 8%, 79%);
    --grey-200: hsl(0, 0%, 85%);

    --navy-950: hsl(240, 100%, 5%);
    --navy-600: hsl(236, 13%, 42%);

    --gold: hsl(35, 77%, 62%);

    --red: hsl(4, 85%, 63%);


    /* Sizing */
    --logo-height: clamp(28px, 1.7857vw + 14.2857px, 40px);


    /* Spacing */
    --body-padding-top: 28px;
    --body-padding-inline: clamp(16px, 16.285vw + -45.0687px, 80px);
    --body-padding-bottom: 80px;
    --header-margin-bottom: 32px;


    /* Typography */
    --font-family: "Inter", Arial, sans-serif;

    --body-font-size: 0.9375rem;
    --button-font-size: 0.875rem;
    --heading-xl-font-size: clamp(2.5rem, 2.381vw + 1.3571rem, 3.5rem);
    --heading-l-font-size: 2rem;
    --heading-m-font-size: 1.25rem;
    --heading-s-font-size: 1.125rem;

    --body-font-weight: 400;
    --button-font-weight: 700;
    --heading-xl-font-weight: 800;
    --heading-l-font-weight: 700;
    --heading-m-font-weight: 800;
    --heading-s-font-weight: 800;

    --body-letter-spacing: 0;
    --button-letter-spacing: 4.38px;

    --body-line-height: 1.73333;
    --button-line-height: 1.71429;
    --heading-xl-line-height: 1;
    --heading-l-line-height: 1;
    --heading-m-line-height: 1.2;
    --heading-s-line-height: 1.33333;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    color: var(--navy-600);
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    padding: var(--body-padding-top) var(--body-padding-inline) var(--body-padding-bottom);
}

.button {
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--navy-950);
    background-color: var(--red);
}

.featured h2 {
    font-size: var(--heading-xl-font-size);
    font-weight: var(--heading-xl-font-weight);
    letter-spacing: inherit;
    line-height: var(--heading-xl-line-height);
    color: var(--navy-950);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-self: stretch;*/
    margin-block-end: var(--header-margin-bottom);
}

img, svg {
    display: block;
    max-width: 100%;
}

.logo {
    aspect-ratio: 13 / 8;
    height: var(--logo-height);
}

.logo svg {
    fill: var(--navy-950);
}

#menu-button {
    height: 17px;
    width: 40px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

#menu-button svg {
    fill: var(--navy-950);
}

.new {
    background-color: var(--navy-950);
    color: var(--grey-300)
}

.new article:not(:last-of-type) {
    border-bottom: 1px solid var(--navy-600);
}

.new h2 {
    color: var(--navy-950);
    font-size: var(--heading-l-font-size);
    font-weight: var(--heading-l-font-weight);
    letter-spacing: inherit;
    line-height: var(--heading-l-line-height);
    color: var(--gold);
}

.new h3 {
    font-size: var(--heading-m-font-size);
    font-weight: var(--heading-m-font-weight);
    letter-spacing: inherit;
    line-height: var(--heading-m-line-height);
    color: var(--white);
}

ol, ul {
    list-style: none;
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.trending h3 {
    font-size: var(--heading-s-font-size);
    font-weight: var(--heading-s-font-weight);
    letter-spacing: inherit;
    line-height: var(--heading-s-line-height);
    color: var(--navy-950);
}

@media (hover:hover) {
    .button:hover {
        color: var(--white);
        background-color: var(--navy-950);
    }

    #menu-button:hover svg {
        fill: var(--red);
    }

    nav a:hover {
        color: var(--red);
    }

    .new a:hover {
        color: var(--gold);
    }

    .trending a:hover {
        color: var(--red);
    }
}

@media (width < 62rem /* ovisi o layoutu */) {
    nav {
        font-size: var(--heading-s-font-size);
        line-height: var(--heading-s-line-height);
        color: var(--navy-950);
    }
}
